<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
   <Section Name="StockTrendPredictionActorServiceReplicatorConfig">
      <Parameter Name="ReplicatorEndpoint" Value="StockTrendPredictionActorServiceReplicatorEndpoint" />
      <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
   </Section>
   <Section Name="StockTrendPredictionActorServiceReplicatorSecurityConfig">
      <Parameter Name="CredentialType" Value="None" />
   </Section>
   <Section Name="AppSettings">
      <Parameter Name="PredictionTimerStartDelay" Value="00:00:01" />
      <Parameter Name="PredictionTimerInterval" Value="00:00:10" />
      <Parameter Name="PredictionNotificationAttempts" Value="5" />
   </Section>
   <Section Name="AzureML">
      <Parameter Name="Client" Value="Mocked" />
      <Parameter Name="AzureMlApiUrl" Value="[your Azure ML url]" />
      <Parameter Name="AzureMlKey" Value="[your Azure ML key]" />
   </Section>
   <Section Name="Logging">
      <Parameter Name="Logger" Value="TraceLogger" />
   </Section>
   <Section Name="NotificationActorServiceReplicatorConfig">
      <Parameter Name="ReplicatorEndpoint" Value="NotificationActorServiceReplicatorEndpoint" />
      <Parameter Name="BatchAcknowledgementInterval" Value="0.005" />
   </Section>
   <Section Name="NotificationActorServiceReplicatorSecurityConfig">
      <Parameter Name="CredentialType" Value="None" />
   </Section>
</Settings>